@media (max-width: 500px) {

    .mt-15 {
        margin-top: 75px;
    }

    .row
    {
        margin-left: 0  !important;
    }

    .contact-nav{
        display: none;
    }

    .menu-bars
    {
        margin-left: 0;
        font-size: 1.5rem;
    }

    .navbar-brand img
    {
        height: 25px;
        width: 120px;
    }
    
    .nav-text
    {
        height: 45px;
    }

    .nav-text a
    {
        font-size: 20px;
    }

    .top-section
    {
        height: 655px !important;
    }

    .home-header h1,
    .our-team--header h1, .partner-header h1
    {
        font-size: 50px;
        line-height: 60px;
    }

    .fund-header h2, .investment-header h2, .core-header h2, .necessary-header h2, .interaction-header h2, .contact-head h2
    {
        font-size: 30px;
        line-height: 40px;
    }

    .investment-paragraph p, .core-paragraph p, .necessary-paragrapgh p, .interaction-paragraph p, .team-designation h5, .team-paragraph p
    ,.fund-topic h3, .core-topic h3, .partner-name h3
    {
        font-size: 15px;
    }

    .ventures-funds .row
    {
        row-gap: 15px;
        margin-top: 2rem !important;
        row-gap: 25px;
    }

    .ventures-funds .row .col-sm-12
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .investment-img
    {
        padding: 0 !important;
    }

    .contact-btn button, .read-btn button
    {
        padding: 10px 30px;
        font-weight: 500;
        font-size: 12px;
    }

    .InvestmentCompanies,
    .necessary,
    .partner
    {
        padding: 30px 0 !important;
    }

    .footer
    {
        padding: 50px 0;
    }

    .footer .row .col-lg-4
    {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .footer .row .col-lg-4:nth-child(3){
        justify-content: center !important;
    }

    .footer-list ul li,
    .contactus .col-lg-7
    {
        padding: 0 6px !important;
    }

    .top-arrow img
    {
        width: 120px;
        height: 80px;
    }

    .home-paragrapgh p, .necessary-list ul li,
    .interaction-lps--paragraph p
    {
        font-size: 12px;
    }

    .core .row
    {
        row-gap: 20px;
    }

    .necessary-paragrapgh
    {
        left: 0!important;
    }

    .necessary-topic h3,
    .team-name h2
    {
        font-size: 25px;
    }

    .necessary .row
    {
        margin-top: 4rem !important;
        row-gap: 25px;
    }

    .necessary-box
    {
        height: 140px;
    }
    
    .ourteam-img img
    {
        height: 370px;
    }

    .team-designation,
    .team-paragraph
    {
        margin-top: 0 !important;
    }

    .partner-linkdn i
    {
        margin-top: 0;
        font-size: 20px;
    }

    .partner-img img {
        width: 260px;
        height: 270px;
    }

    .overlay{
        width: 100vw;
        height: 550px;
        position: absolute;
        top: 650px;
        left: 0;
        z-index: 10;
    }

    .contactus .col-lg-5
    {
        height: 550px !important;
    }
    
    .contact-form input
    {
        height: 55px;
    }

    .contact-form button
    {
        padding: 16px 150px;
        font-size: 16px;
    }

    .interaction-lps
    {
        display: contents;
    }

    .interaction-lps--img img {
        width: 66px;
        height: 66px;
        margin-right: 0;
    }

    .interaction .col-lg-7
    {
        grid-gap: 13px;
    }

    .interaction .row .col-lg-7{
        margin-top: 25px;
    }

}